*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
}

body{
    background-color: black;
    color: white;
}
header{
    width: 100%;
    height: 100px;
    color: white;
    background-color: black;

    padding: 10px 10%;
    position: absolute;
    z-index: 1;
}

nav{
    max-width: 1770px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 2.5em;
    text-transform: uppercase;
    letter-spacing: 5px;
    flex: 1;
}
.nav-list{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.nav-list a{
    font-size: 1.5em;
    color: white;
    padding: 3px 10px;
}
.nav-list a:hover{
    color: black;
    background-color: white;
    border-radius: 10px;
}

section{
    width: 100%;
    height: 120vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#back{
    margin-top: 90px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

h1{
    font-size: 6em;
    z-index: 2;
    color: white;
}

footer{
    text-align: center;
    padding: 30px 10%;
}
footer h2{
    font-size: 3em;
    margin-bottom: 50px;
}